/* Colors */
$primary_color_0: #ffe1d0;
$primary_color_1: #ffcdb0;
$primary_color_2: #ff6913;
$primary_color_3: #d45710;
$primary_color_4: #803409;

$neutral_color_0: #d6d6d6;
$neutral_color_1: #c2c2c2;
$neutral_color_2: #383838;
$neutral_color_3: #1d1d21;
$neutral_color_4: #101010;

/* Components */
